.vjs-ass {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.vjs-default-skin .vjs-ass-button {
  cursor: pointer;
}

.vjs-default-skin .vjs-ass-button:before {
  font-family: VideoJS;
  content: '\f10c';
}

.vjs-default-skin .vjs-ass-button.inactive {
  color: grey;
}

/* Backport from libjass v0.11 */
.libjass-subs, .libjass-subs * {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
